
<li class="left  clearfix">
  <div class="chat-body clearfix">
    <div class="header">
      <strong class="primary-font"><%= message.owner.email %></strong>
      <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
    </div>
    <p>
      <%= message.body %>
    </p>
  </div>
</li>


