<header class="header">
    <span class="header__edit">Edit</span>
    <h2 class="header__title">Chats <i class="fa
    fa-caret-down"></i></h2>
</header>
<section class="chats">
    <div class="chat">
        <img src="" alt="" class="char__avatar">
        <div class="chat__text"><span class="
        username"></span><span class="preview"></
        span></div>
        <span class="chat__date"></span>
    </div>
</section>
    
<h1>Chat rooms</h1>

<p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %></p>

<ul>
  <%= render @chat_rooms %>
</ul>
<% @chat_rooms.each do |chat_room| %>
    <h1><%= chat_room.title %></h1> 
<% end %>

<style>
html,
body{
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#3F3035;
  padding:10px 5px;
  box-sizing: border-box;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
}
.header__title{
  margin: 0;
  font-size: 18px;
}
.header__edir,
.header__title{
  margin-right: auto;
}

.chat{
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.chat__avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chat__text{
  flex-grow: 2;
  margin-left: 20px;
  
}

.chat__username {
  font-weight: 600;
  display: block;
}
.chat__preview,
.chat__date {
  color:rgba(0, 0, 0, 0.5);
}
.chat__date{
  font-size: 10px;
}
.footer{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  background-color: rgba(255, 255, 255, 1);
  bottom: 0;
  box-sizing: border-box;

.footer__icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}

.footer__text{
  margin-top: 5px;
  
}</style>